@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

main {
    width: 75%;

    margin: 0 auto;
}

@layer components{
    .header-btn {
        @apply place-items-center min-w-[60px] h-full p-1.5 text-lg rounded-lg hover:bg-cherry-500 hover:scale-90 hover:text-xl transition-all duration-300;
    }
}
